DateTime~=5.1
Pillow~=9.5.0
quart~=0.18.4
asyncio~=3.4.3
aiomysql~=0.2.0
Werkzeug~=2.3.4
cachelib~=0.10.2
requests~=2.30.0
httpx~=0.25.2
logging~=0.4.9.6
cffi~=1.15.1
pip~=23.2.1
emoji~=2.2.0
dataclasses~=0.6
attrs~=23.1.0
cryptography~=41.0.7
Jinja2~=3.1.2
filelock~=3.13.1
redis~=5.0.0
idna~=3.4
multidict~=6.0.4
setuptools~=65.5.0
yarl~=1.9.2
typing_extensions~=4.5.0
aiohttp~=3.8.4
aiosignal~=1.3.1
frozenlist~=1.3.3
Brotli~=1.0.9
certifi~=2023.11.17
discord~=2.2.3
urllib3~=2.0.2
packaging~=23.1
platformdirs~=4.1.0
aiofiles~=23.1.0
OSRSBytes~=1.3.21
bs4~=0.0.1
beautifulsoup4~=4.12.2
hypercorn~=0.14.3
Authlib~=1.2.1